<a href="https://colab.research.google.com/github/Anant7194/Anant7194/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=[['T0001','Anuj Mishra',5,1355],['T0002','Sandeep Oza',2,1169],['T0003','Manavi Sharma',6,1988]]
booking=pd.DataFrame(data,columns=['Tcode','Name','Tickets','Amount'])
print(booking.to_string(index=False))

 Tcode           Name  Tickets  Amount
 T0001    Anuj Mishra        5    1355
 T0002    Sandeep Oza        2    1169
 T0003  Manavi Sharma        6    1988

In [ ]:
data=[['Sofa','Wooden','Maroon',25000],
      ['DT','PlyWood','Yellow',20000],
      ['Chair','Plastic','Red',1500],
      ['Sofa','Stainess Steel','Silver',55000],
      ['Chair','Wooden','Light Blue',2500],
      ['DT','Aluminium','Golden',65000]]
furniture=pd.DataFrame(data,columns=['Item','Material','Colour','Price'])
print(furniture.to_string(index=False))

In [ ]:
print(furniture[furniture['Item']=='Sofa'],'n',
      furniture[furniture['Item']=='Chair'])

In [ ]:
print (furniture[furniture['Price']>25000])

   Item        Material  Colour  Price
3  Sofa  Stainess Steel  Silver  55000
5    DT       Aluminium  Golden  65000

In [ ]:
print (furniture[furniture['Price']<10000])

    Item Material      Colour  Price
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [ ]:
print (furniture.iloc[::2])

    Item Material      Colour  Price
0   Sofa   Wooden      Maroon  25000
2  Chair  Plastic         Red   1500
4  Chair   Wooden  Light Blue   2500

In [ ]:
data={'House':['Blue House','Red House','Green House','Yellow House'],
      'Activity1':[98,87,59,78],
       'Activity2':[85,76,67,99],
       'Activity3':[88,80,91,55]}
furniture=pd.DataFrame(data)
print(furniture.to_string(index=False))

        House  Activity1  Activity2  Activity3
   Blue House         98         85         88
    Red House         87         76         80
  Green House         59         67         91
 Yellow House         78         99         55

In [ ]:
r={'Term1':200,'Term2':189}
g={'Term1':350,'Term2':250}
b={'Term1':400,'Term2':400}
y={'Term1':380,'Term2':300}
c={'Red':r,'Green':g,'Blue':b,'Yellow':y}
df=pd.DataFrame(c)
print(df)

       Red  Green  Blue  Yellow
Term1  200    350   400     380
Term2  189    250   400     300

In [ ]:
import pandas as pd
b=pd.read_csv("/home/brics.csv")
b

  Unnamed: 0       country  population      area    capital
0         BR        Brazil         200   8515767   Brasilia
1         RU        Russia         144  17098242     Moscow
2         IN         India        1252   3287590  New Delhi
3         CH         China        1357   9596961    Beijing
4         SA  South Africa          55   1221037   Pretoria

In [ ]:
import pandas as pd
b=pd.read_csv("/home/olympics.csv")
b

In [ ]:
b=pd.read_csv("/home/brics.csv",index_col=0)
b

In [ ]:
b.describe()

In [ ]:
b.loc["CH"]["capital"]

'Beijing'