<a href="https://colab.research.google.com/github/Anant7194/Anant7194/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
sports={'Home':'London',
        'City':'Paris',
        'Town':'NewYork'}
s=pd.Series(sports,index=['City','Town','District'])
s

In [ ]:
s=pd.Series([1,2,3])
s.loc['Animal']='Deer'
s[3]='4'
s

In [ ]:
import numpy as np
s=pd.Series(np.random.randint(0,1000,10000))
print(s.head())
s.tail(6)

In [ ]:
import numpy as np
import pandas as pd

mylist = list('abcdefg')
myarray=np.arange(26)
mydict=dict(zip(mylist,myarray))

ser1=pd.Series(mylist)
ser2=pd.Series(myarray)
ser3=pd.Series(mydict)
ser3.head()

In [ ]:
ser1=pd.Series([1,2,3,4])
ser2=pd.Series([2,3,4,5])
ser1[~ser1.isin(ser2)]

In [ ]:
ser1=pd.Series([1,2,3,4])
ser2=pd.Series([2,3,4,5])
ser1[ser1.isin(ser2)]

In [ ]:
ser1=pd.Series([1,2,3,4])
ser2=pd.Series([2,3,4,5])
s1=pd.Series(np.union1d(ser1,ser2))
s2=pd.Series(np.intersect1d(ser1,ser2))
s1[~s1.isin(s2)]

In [ ]:
ser1=pd.Series([10,9,6,5,3,1,12,8,13])
ser2=pd.Series([1,3,10,13])
#[np.where(i==ser1)[0].tolist()[0] for i in ser2] #Solution1
[pd.Index(ser1).get_loc(i) for i in ser2]

In [ ]:

ser=pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos=[0,4,8,14,20]
ser.take(pos)

In [ ]:
purchase1=pd.Series({'Name':'Chris',
                     'Item Purchased': 'Dog Food',
                     'Cost': 22.50})
purchase2=pd.Series({'Name':'Kevyn',
                     'Item Purchased': 'Kitty Litter',
                     'Cost': 2.50})
purchase3=pd.Series({'Name':'Vinod',
                     'Item Purchased': 'Bird Season',
                     'Cost': 5.00})
df= pd.DataFrame([purchase1,purchase2,purchase3],index=['S1','S2','S3'])
df

In [ ]:
df2=df.to_csv('store.csv')

In [ ]:
a=df.index
a

In [ ]:
df3=df.loc["S1"]
df3

In [ ]:
df.loc["S1","Cost"]

In [ ]:
df4=df3.to_csv("store1.csv")

In [ ]:
df.loc["S2"]

In [ ]:
df.T

In [ ]:
df.loc[:,["Name","Cost"]]

In [ ]:
df.loc["S1",["Name","Cost"]]

In [ ]:
#del df["Cost"]
df.drop("S1")

In [ ]:
df3

In [ ]:
df3=df
del df3["Name"]
df3

In [ ]:
df['location']=None
df

In [ ]:
df.loc["S2"]